# Configuration
SPRING_PROFILES_ACTIVE=dev

# Database
DB_URL=jdbc:postgresql://localhost:5432/omnify
DB_USERNAME=postgres
DB_PASSWORD=postgres
POSTGRES_DB=omnify
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Bcrypt
BCRYPT_STRENGTH=12

# JWT
JWT_SECRET=your_super_secret_key

# SMTP (Brevo)
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=

# Mail
MAIL_FROM_ADDRESS=example@omnify.com
MAIL_FROM_NAME=Omnify

# Frontend
FRONTEND_BASE_URL=http://localhost:5173
